@charset "utf-8";
@import "bourbon";
@import "neat";

$std_tint: rgba(50, 100, 205, .50);
$darkblue: #04283e;
$lightblue: #005eac;


.headerstuff {
@include background-image(linear-gradient($std_tint,$lightblue),url("http://i.imgur.com/0wKA7Q6.png"));
width: 100%;
height: 450px;
margin-top: -10px;
}

.headerstuff h1 {
  font-family:'Oswald', sans-serif;
  color: #fff;
  margin: 0 auto;
  font-size: 80px;
  position: absolute;
  letter-spacing: 3px;
  font-weight: 300;
  top: 18%;
  left: 50%;
  transform: translateX(-50%) translateY(-18%);
  z-index:100;
  text-shadow: 1px 2px 2px $darkblue,
   2px 2px 2px #000;
}
.headerstuff h1 a {
text-decoration: none;
}

.headerstuff h1 a:visited {
text-decoration: none;
color: #fff;
text-shadow: 1px 2px 2px $darkblue,
 2px 2px 2px #000;
}
.headerstuff h3 {
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
  letter-spacing: 1px;
  margin-top: 0px;
  padding-top: 10px;
  margin-right: 120px;
  text-decoration: none;
color: #fff;
}
.headerstuff h3 a {
text-decoration: none;
color: #fff;
}
.headerstuff h4 {
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0px;
  letter-spacing: 1px;
  margin-top: -24px;
  margin-right: 50px;
  padding-right: 0px;
}
.headerstuff h4 a {
text-decoration: none;
color: #fff;
}
.headerstuff h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: $darkblue;
  margin: 0 auto;
  text-align: left;
  margin-left: 90px;
  z-index:100;
}
.headerstuff h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $darkblue;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translateX(-50%) translateY(-29%);
  z-index:100;
}
body {
  text-align: center;
  @include outer-container;
  font-family: 'Open Sans';
  font-size: 14px;
  color: black;
letter-spacing: 1px;
font-weight: 300;

}
.intro {
width: 580px;
text-align: left;
@include span-columns(12);
text-decoration: none;

}
.authorimg img {
border-radius: 50%;
width: 60px;
height: 60px;
margin-bottom: 10px;
margin-top: 0px;
}
.authorimg  {
border-radius: 50%;
width: 60px;
height: 60px;
margin-bottom: 10px;
margin-top: 0px;
}
.imgtxt p {
margin-left: 70px;
margin-bottom:10px;
margin-top: -50px;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
color: $lightblue;
}

.imgtxt .date {
  color: #828d95;
}
.intro .title a {
font-family: 'Oswald', sans-serif;
font-size: 50px;
color: #063452;
text-align: left;
margin-top: 0px;
margin-bottom: 5px;
text-decoration: none;
}
  .intro h1 {
font-family: 'Oswald', sans-serif;
font-size: 50px;
font-weight: 300;
color: #063452;
text-align: left;
margin-top: 10px;
margin-bottom: 5px;
// text-decoration: none;

}
.intro article {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  float:left;
  box-sizing: border-box;
  display: inline;
  overflow: hidden;
  letter-spacing: 1px;
  font-weight: 300;
}

.pquote {
  font-family: 'Oswald', sans-serif;
  color: $lightblue;
  float: left;
  font-size: 25px;
  margin-bottom: 0px;
}
blockquote  {
  box-sizing: border-box;
  border-left: 3px solid #ccc;
  margin-bottom: 0px;
  padding-left: 15px;
  margin-left: 0px;
}
.gosh {
  text-align: left;
  margin-top: 110px;
  margin-bottom: 0px;
}
.sidebar {
//   margin-top: 10px;
// width: 250px;
@include span-columns(4);
@include omega;

}
.sidebar h1{
  font-family: 'Oswald', sans-serif;
  color: $lightblue;
  font-size: 20px;
  font-weight: 300;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  width: 300px;
}
.sidebar img {
  background: url('http://www.highdefdiscnews.com/screenshots/alice_in_wonderland_1951_7.png');
  width: 250px;
  margin-top: 40px;
  &:before {
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
}
}
.sidebar article {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  box-sizing: border-box;
  overflow: hidden;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: left;
  margin-left: 45px;
}
.circleimg img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.imgtxt h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $lightblue;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -1px;
  width:250px;
}
.links a{
text-decoration: none;
word-spacing: 10px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #828d95;
}
.twitter a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #828d95;
  text-align: center;
  text-decoration: none;
}
.facebook a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #828d95;
  text-align: center;
  text-decoration: none;
}
.instagram a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #828d95;
  text-align: center;
  text-decoration: none;
}
