@import "bourbon";
// $visual_grid: true !default;
// $visual-grid-index: back;
// $visual-grid-color: salmon;
// // $visual-grid-index: front;
// $visual-grid-opacity: 0.1;
$max-width: em(965) !default;
@import "neat";
@import "normalize.css";


// Variables and defaults

$gradient: rgba(5, 44, 73, .45);

body {
  width: 965px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
}

.page-wrapper{
  @include outer-container;
}

ul {
  list-style: none;
  li{
    display: inline;
  }
}

.dolphin{
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

// End definitions

.bigpic{
  height: 392px;
  background-size: 100%;
  background:
  linear-gradient($gradient, $gradient),
  url("http://truescifi.files.wordpress.com/2008/12/big-wave-surfer.jpg");

  .top-left{
    @include span-columns(4);
    @include shift(1);
    margin-top: 8px;
    img{
      vertical-align: middle;
    }
    .blog-title{
      // text-transform: uppercase;
    }
  }

  .top-right{
    @include span-columns(3);
    @include shift(3);
  }

  .center-text{
    @include span-columns(8);
    @include shift(2);
    margin-top: 80px;
    color: white;
    font-size: 67px;
    text-align: center;
  }

  .subtext{
    @include span-columns(8);
    @include shift(2);
    margin-top: -50px;
    font-size: 10px;
    color: IndianRed;
    text-align: center;
  }
}

.left {
  @include span-columns(6.5);
  @include shift(1/2);

  h1{
    font-family: oswald;
    font-size: 47px
  }

  .author-timestamp{
    img{
      vertical-align: middle;
      width: 35px;
      height: 35px;
    }
    author{
      font-size: 15px;
      color: blue;
    }
    h3{
      font-size: 10px;
      display: inline;
      padding-left: 5px;
      color: grey;
    }
  }

  li{
    margin-right: 10px;
    background: grey;
    color: white;
  }

  blockquote{
    color: rgb(170,202,226);
    font-family: oswald;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 1px;
    border-left: 2px solid #d3d3d3;
    margin-left: 0px;
  }
}

.right{
  @include span-columns(4.5);

  .dolphin{
    @include shift(4.7);
    margin-top: 50px;
  }

  .blog-author{
    h5{
      text-align: center;
      margin: 0px;
      color: blue;
    }
    .socials{
      font-size: 10px;
      text-align: center;
      margin: 0px;
      margin-right: 25px;
    }
  }


  .kayak{
    @include shift(2.5);
    margin-top: 15px;
    width: 180px;
    height: 180px;
  }

  .side-text{
    @include shift(2);
    margin-right: 70px;
    font-size: 12px;

    h4{
      color: blue;
      margin-bottom: -8px;
      font-family: oswald;

    }
  }
}

.popular{
  color: white;

  h2{
    text-align: center;
    font-family: oswald;
    font-size: 45px;
    color: black;
    @include span-columns(12);
  }

    .barracuda{
      @include span-columns(3);
      @include omega();
      background-size: cover;
      @include background-image(linear-gradient($gradient, $gradient), url("../images/barracuda.jpg"));
      width: 240px;
      height: 250px;
    }

    .turtle{
      @include span-columns(3);
      @include omega();
      background-size: cover;
      @include background-image(linear-gradient($gradient, $gradient), url("../images/turtle.jpg"));
      width: 240px;
      height: 250px;
    }

    .piranha{
      @include span-columns(3);
      @include omega();
      background-size: cover;
      @include background-image(linear-gradient($gradient, $gradient), url("../images/piranha.jpg"));
      width: 240px;
      height: 250px;
    }

    .whaleshark{
      @include span-columns(3);
      background-size: cover;
      @include background-image(linear-gradient($gradient, $gradient), url("../images/whaleshark.jpg"));
      width: 240px;
      height: 250px;
    }
}
