@charset "utf-8";


.head {
    width: 100%;
	  height: 520px;
	  box-sizing: border-box;
	  background-image:
	  linear-gradient(
      rgba(20, 20, 60, .70),
		  rgba(20, 20, 60, .70)),
	  url("../images/view.jpg");
	  background-size: 100% 520px;
}


.my-wave-logo {
	z-index: 1;
	padding-left: 100px;
	position: relative;
}


.sp-blog-corner {
	position: relative;
}

.about-search {
	position: relative;
	float: right;
  padding-top: 20px;
	top: 0px;
	right: 0px;
}

.main-headline {

	text-align: center;
	font-family: 'Open Sans', sans-serif;
	z-index: 1;
	position: relative;
	color: white;
	font-size: 100px;
	top: 125px;
	margin: 0;
	padding-left: 150px;

}

.sub-line {

	text-align: center;
	font-family: 'Open Sans', sans-serif;
	z-index: 1;
	position: relative;
	color: black;
	top: 110px;
	font-size: 15px;
}

.container {

	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	float: left;
	width: 650px;
	margin-left: 150px;
	color: #5e686f;
  }

.fan-headline {

	font-weight: 900;
	color: #083452;
	font-family: 'Oswald', sans-serif;
	font-size: 57px;
	padding-top: 50px;
}

.dolphin {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  /*float: left;*/
}

.kayak {
	margin-left: 30px;
	padding-left: 90px;
	margin-top: 35px;
	padding-top: 10px;
	height: 280px;
	width: 200px;
	background-image:
	linear-gradient(
		rgba(5, 44, 73, .60),
		rgba(5, 44, 73, .60)
		),
	url("images/kayak.jpg");
}


.lorem-ipsum1 {

font-weight: 400;
color: #083452;
font-family: 'Indie Flower', sans-serif;
font-size: 20px;
padding-top: 20px;
}

.pull-quote {
   font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  padding-left: 15px;
  border-left: 2px solid #d3d3d3;
  height: 40px;
  color: #106db3;
}


.container2 {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	float: right;
	width: 300px;
	margin-right: 150px;
	color: #5e686f;
}

#name {
  font-size:10px;
  padding-top:10px;
  color:#106db3;
  font-family: 'Indie Flower', sans-serif;
  float:left;
  margin-right:15px;
}

.date {
  color:#a3b3bf;
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
  padding-left:25px;
  padding-top:10px;
}

span {
  text-decoration: underline;
}

.sidebar-head {
	padding-top: 40px;
	font-size: 17px;
	font-family: 'Indie Flower', sans-serif;
	color: #106db3;
	margin-left: 50px;
}

.link {
margin-left: 40px;
font-size: 12px;
padding-left: 160px;
color: #a3b3bf;
}

.name {
	color:#106db3;
}

.contacts{
	font-size:12px;
	word-spacing:2px;
}

.sidebar {
	font-size: 12px;
	color: #a3b3bf;
	margin-left: 50px;
}

.science {
	color: #5e686f;
}
