@charset "utf-8";
@import "bourbon";
@import "neat";

body {
	margin: 0 auto;
	height:620px;
	@include outer-container;
}

.head {
	width: 100%;
	height: 520px;
	box-sizing: border-box;
	background-image:
	linear-gradient(
	rgba(20, 20, 60, .70),
	rgba(20, 20, 60, .70)
	),
	url("../images/hawaii.jpg");
	background-size: 100% 520px;
}

.htext {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	z-index:1;
	position:relative;
	color:white;
	font-size:107px;
	top:125px;
	margin: 0;
	padding-left:20px;
	letter-spacing:-6px;
}

.wave {
	z-index:1;
	padding-left:100px;
	position:relative;
}

.blog {
	position:relative;
	margin-left:150px;
}

.iy {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	z-index:1;
	position:relative;
	color:black;
	top:110px;
	font-size:15px;
}

.search {
	font-family: 'Oswald', sans-serif;
	font-size:17px;
	position:absolute;
	float:right;
	margin-right:100px;
	padding-right:30px;
	padding-top:18px;
	top:0px;
	right:50px;
	/*letter-spacing:-1px;*/
}

.ltext {
	@include span-columns(7);
	font-family: 'Open Sans', sans-serif;
	float:left;
	color:#5e686f;
	font-size:17px;

	.headline {
		/*font-weight:900;*/
		color:#083452;
		font-family: 'Oswald', sans-serif;
		font-size:63px;
		padding-top:50px;
		letter-spacing:-4.5px;
	}

	.mepic2 {
		width:5%;
		float:left;
	}

	.n {
		font-size:20px;
		/*padding-top:10px;*/
		color:#106db3;
		font-family: 'Oswald', sans-serif;
		float:left;
		margin-right:15px;
	}

	.dy {
		padding-top:9px;
		color:#a3b3bf;
		font-size:12px;
		font-family: 'Open Sans', sans-serif;
		margin-right:15px;
		/*padding-top:10px;*/
	}

	span {
		text-decoration: underline;
	}

	.whoa {
		font-family: 'Open Sans', sans-serif;
		letter-spacing:1px;
		font-size:27px;
		padding-left:15px;
		border-left:2px solid #d3d3d3;
		height:40px;
		color:#106db3;
	}

	.google {
		color: #5e686f;
	}
}

.rtext {
	@include span-columns(4);
	font-family: 'Open Sans', sans-serif;
	letter-spacing:-.4px;
	float:right;
	// width:300px;
	// margin-right:150px;
	color:#5e686f;

	.mepic {
		width:50%;
	}

	.name {
		color:#106db3;
		font-size:50px;
	}

	.picinfo {
		margin-left:115px;
		padding-top:90px;
	}

	.social {
		font-size:12px;
		word-spacing:2px;
	}


	.image {
		margin-left:50px;
		// padding-left:90px;
		margin-top:35px;
		padding-top:10px;
		height:280px;
		width:310px;
	}

	.shead {
		padding-top:40px;
		font-size:17px;
		font-family: 'Oswald', sans-serif;
		color:#106db3;
		margin-left:50px;
	}

	.pic {
		margin-left:20px;
		font-size:12px;
		padding-left:160px;
		color:#a3b3bf;
	}

	.link {
	font-size:12px;
	padding-left:160px;
	color:#a3b3bf;
	}

	.sidebar {
		font-size:15px;
		color:#a3b3bf;
		margin-left:50px;
		font-spacing:-.5px;
	}
}
// .popular {
// 	font-family: 'Oswald', sans-serif;
// 	border-top:1px solid grey;
// 	padding-top:35px;
// 	margin-top:1000px;
// 	height:400px;
// 	text-align:center;
// 	font-size:60px;
// 	color:#083452;
// }

/*.boxes {
border:3px solid black;
position:relative;
bottom:300px;
left:0;
height:200px;
width:100px;
clear:right;
}*/
