@charset "utf-8";
<<<<<<< HEAD
.surf {
  position: absolute;
  z-index: 100;
  top: 1%;
  left: 5%;
  transform: translateX(-5%) translateY(-1%);
}
.headerstuff {
  

}
.headerstuff img {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.1;
}
.overlay {
  background-color: #0a528f;
}
.headerstuff h1 {
  font-family:'Oswald', sans-serif;
  color: white;
  margin: 0 auto;
  font-size: 90px;
  position: absolute;
  letter-spacing: 3px;
  font-weight: 300;
  top: 32%;
  left: 50%;
  transform: translateX(-50%) translateY(-32%);
  z-index:100;
  text-shadow: 1px 1px 1px #000,
  1px 1px 1px #004682;
}
.headerstuff h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #04283e;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%) translateY(-43%);
  z-index:100;
}
.headerstuff h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: geometricPrecision;
  color: #04283e;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  letter-spacing: 1px;
  top: 3%;
  left: 84%;
  transform: translateX(84%) translateY(-3%);
  z-index:100;
}
.headerstuff h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #04283e;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 95%;
  transform: translateX(-95%) translateY(-3%);
  z-index:100;
}
.headerstuff h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #04283e;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 10%;
  transform: translateX(-10%) translateY(-3%);
  z-index:100;
}
body {
  text-align: center;

}


.intro {
width: 580px;
text-align: left;
margin-left: 60px;
padding-left:60px;
}
/*.intro .introimage  {
border-radius: 50%;
width: 50px;
}*/

.intro .title {
font-family: 'Oswald', sans-serif;
font-size: 50px;
color: #063452;
text-align: left;
margin-right: 0px
}
.intro article {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  float:left;
  box-sizing: border-box;
  display: inline;
  overflow: hidden;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 40px;
}
.pquote {
  font-family: 'Oswald', sans-serif;
  color: #005eac;
  float: left;
  font-size: 25px;
}
blockquote p {
  box-sizing: border-box;
  width: 580px;
  border-left: 3px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -40px;
  padding-left: 15px;
}
.sidebar h1{
  /*float: left;*/
  font-family: 'Oswald', sans-serif;
  color: #005eac;
  font-size: 20px;
  font-weight: 300;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: left;
  width: 300px;
  /*position: relative;
  bottom: 410px;*/
}
section img {
  /*float: left;*/
  width: 250px;
margin-top: 40px;
}
.sidebar {
float: left;
width: 250px;
margin-top: -200px;
margin-left: 100px;
}

.sidebar article {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  box-sizing: border-box;
  /*display: inline;*/
  overflow: hidden;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: left;
}
.circleimg img {
  border-radius: 50%;
  width: 100px;
  /*height: 100px;
  bottom: 200px;
  left: 70px;*/
}
.imgtxt h1 {
  /*position: relative;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #005eac;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -1px;
  top: -4px;
  width:250px;

}
.links a{
text-decoration: none;
word-spacing: 10px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #828d95;
margin-bottom: 20px;
}
.twitter a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #828d95;
  text-align: center;
  text-decoration: none;
}
.facebook a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #828d95;
  text-align: center;
  text-decoration: none;
}
.instagram a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #828d95;
  text-align: center;
  text-decoration: none;
}
=======

/* Put content here. */
>>>>>>> 547e2b671968abc84d9086c155f866bf9374391f
