@import "bourbon";
@import "neat";
@charset "utf-8";

$max-width: em(960);

// $visual-grid: true !default;
// $visual-grid-color: black !default;

.title {
  margin: 0 auto;
  background-image: url("../images/hokusai.jpg");
}

header {
  margin: 0 auto;
  text-align: center;
}

footer {
  margin: 0 auto;
  text-align: center;
}

section {
    @include outer-container;
    background-color: rgb(240, 240, 220);

    article {
        @include span-columns(7);
        @include shift(1);
        padding-bottom: 100px;
        background-color: rgb(64, 165, 221);

        .button {
          @include span-columns(1 of 6);
          margin-left: 10px;
          background-color: lightblue;
        }

    }

    aside {
      @include span-columns(3);
      background-color: rgb(64, 165, 221);
    }

}
