.annie {
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:50px;
	// border:1px solid black;
}

.aninfo {
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}

.alan {
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	// border:1px solid black;
	margin-bottom:50px;
}

.alinfo {
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}

.ada {
	font-size:30px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:50px;
	// border:1px solid black;
}

.adlinfo {
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}
