@import "bourbon";

// $visual_grid: true;
// $visual-grid-color: red;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.07;

@import "neat";
@charset "utf-8";

.main_body {
  margin: 0 auto;
  float: left;
  font-family: "Open Sans";
  color: #707070;
  line-height: 1.65;
  letter-spacing: -0.5px;




  .popular{
    margin: 0 auto;
    text-align: center;
    font-family: "Oswald";
    font-size: 62px;
    font-weight: 400;
    line-height: 1.15;
    color: #032640;
    margin-bottom: 30px;
  }
}
