@import "bourbon";

// $visual_grid: true;
// $visual-grid-color: red;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.07;

@import "neat";
@charset "utf-8";


section{
  @include outer-container;

  article {
    @include span-columns(8);
    margin-top: 60px;
    font-family: "Open Sans";
    color: #606060;
    line-height: 1.65;
    font-weight: 600;
    letter-spacing: -0.3px;

    .article_title {
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Oswald";
      font-size: 62px;
      font-weight: 400;
      line-height: 1.15;
      color: #032640;
      margin-bottom: 10px;

      a:link {
        text-decoration: none;
        color: #032640;
      }

      a:visited {
        text-decoration: none;
        color: #032640;
      }
    }

    .post_info {
      font-size: 14px;
      color: #C0C0C0;
      line-height: 2.5;
      margin-bottom:40px;

      .poster_pic {
        @include span-columns(1);
        margin-left: 10px;
        border-radius: 50%;
        height: 45px;
        width: 45px;
      }

      .author_name {
        color: RGB(49, 106, 162);
        font-weight: 600;
      }
    }

    a:link  {
      text-decoration: underline;
      color: RGB(49, 106, 162);
    }

    a:visited {
      text-decoration: none;
      color: #C0C0C0;
    }

    blockquote{
      text-transform: uppercase;
      font-size: 28px;
      color: RGB(36, 99, 157);
      border-left: 3px solid #ccc;
      margin-left: 5px;
      padding-left: 15px;
    }

    .post_footer{
      height: 140px;
      color: white;
      font-weight: 500;
      font-size: 14px;
      line-height: 2;

      .post_option_icon{
        float: left;
        text-align: center;
        height: 28px;
        width: 30px;
        background: RGB(89, 98, 101);

        .post_option_icon:hover{
          background: RGB(20, 43, 62);
        }
      }
      .post_option{
        float: left;
        height: 28px;
        background: RGB(157, 173, 179);
        padding: 0 10px;
        margin-right: 15px;

        .post_option:hover{
          background: RGB(36, 99, 158);
        }
      }
    }
  }

  aside {
    @include span-columns(3);
    @include shift(1);
    font-family: "Open Sans";
    font-size: 16px;
    color: RGB(156, 173, 179);
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -0.5px;

    .tinted_ad {
      margin-top: 60px;
      width: 100%;
      height: 300px;
      background:
      linear-gradient(
      rgba(25, 85, 145, 0.75),
      rgba(25, 85, 145, 0.75)
      ),
      url(/images/tsunamihotel.jpg);

    }

    .ad_info{
      text-align: right;
      line-height: 0.2;
    }

    .subtle{
      text-decoration: underline;
      font-size: 14px;
      color: #B0B0B0;
      font-weight: 600;
    }

    .side_column_header{
      margin-top: 40px;
      font-family: "Oswald";
      font-size: 18px;
      font-weight: 500;
      color: rgb(36, 99, 157);
      line-height: 0;
    }
  }
}

.popular {
  margin: 0 auto;
  text-align: center;
  font-family: "Oswald";
  font-size: 62px;
  font-weight: 400;
  line-height: 1.15;
  color: #032640;
  margin-bottom: 30px;
}
