<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
  <link href="all.css.scss" rel="stylesheet" type="text/css">
  <link href="reset.css" rel="stylesheet" type="text/css">
  <link href="normalize.css" rel="stylesheet" type="text/css">
  <title>Surf and Paddle Co.</title>
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Yeah Computers" %></title>

  <%= stylesheet_link_tag "normalize", "all" %>
</head>
<body class="<%= page_classes %>">
  <header>
    <div class = "headerstuff">
      <h1>WE'RE ALL MAD HERE</h1>
      <h3>ABOUT</h3>
      <h4> SEARCH</h4>
      <h5>SURF & PADDLE CO. BLOG</h5>
      <!-- <h6> An Ironyard Academy Project Est. Summer 2014</h6> -->
      <div class = "overlay">
        <img src = "http://i.imgur.com/WMisRt2.jpg"></div></div>
        <div class = "surf">
        </header>
        <%= yield %>

        </html>
