

<header>
  <div class="top-nav-bar">
    <div class="nav-buttons">
      <ul>
        <li>ABOUT</li>
        <li>SEARCH<i class="fa fa-search"></i></li>
      </ul>
    </div>
    <div class="logo-blog">
      <ul>
        <img src="../images/WaveLogo.png"></img>
        <li>SURF & PADDLE CO. BLOG</li>
      </ul>
    </div>
  </div>
  <h1>progenitors of programming</h1>
  <h2> An Iron Yard Academy Project Fall 2014</h2>
</header>
