 <div class="effect"><div class="button_ico"><i class="fa fa-comment"></i></div><div class="button">Read Comments</div></div>
 <div class="effect"><div class="button_ico"><i class="fa fa-cloud-download"></i></div><div class="button">Read Later</div></div>
 <div class="effect"><div class="button_ico"><i class="fa fa-share-square-o"></i></div><div class="button">Share This Post</div></div>
