<div class="footer">
  <div class="popular-posts">
    <h1>MOST POPULAR POSTS</h1>
  </div>
  <div class="post-preview">
    <ul class="other-posts">
      <li class="post1">
        <h4>ANOTHER COOL POST</h4>
      </li>
      <li class="post2">
        <h4>POST TITLE</h4>
      </li>
      <li class="post3">
        <h4>HERES ANOTHER LONGER POST TITLE</h4>
      </li>
      <li class="post4">
        <h4>OH A COOL POST</h4>
      </li>
    </ul>
  </div>
  <div class="bottom-nav">
    <div class="bottom-left">
      <div class="iron_yard_holder">
        <img src="/images/the-iron-yard-logo.png">
      </div>
      <div class="copyright">
        <p>The Ironyard copyright 2014, All Rights Reserved</p>
      </div>
    </div>
    <div class="bottom-right">
      <ul>
        <li>Nav Item 1</li>
        <li>|</li>
        <li>Nav Item 2</li>
        <li>|</li>
        <li>Nav Item 3</li>
        <li>|</li>
        <li>Nav Item 5</li>
      </ul>
    </div>
  </div>
</div>
