<div class="footer">
  <div class="popular-posts">
    <h1>MOST POPULAR POSTS</h1>
  </div>
  <ul class="other-posts">
    <li class="post1">
      <h4>ANOTHER COOL POST</h4>
    </li>
    <li class="post2">
      <h4>POST TITLE</h4>
    </li>
    <li class="post3">
      <h4>HERES ANOTHER LONGER POST TITLE</h4>
    </li>
    <li class="post4">
      <h4>OH A COOL POST</h4>
    </li>
  </ul>
</div>
