</div>

<div class="feature_posts">
  <div class="more"><p>MOST POPULAR POSTS</p></div>

  <div class="posts">
      <div class="post_effect"><a class="post" href="http://www.google.com"><div class="post1">ANOTHER COOL POST</div></a></div><div class="post_effect"><a class="post"><div class="post2">POST TITLE</div></a></div><div class="post_effect"><a class="post"><div class="post3">HERE'S ANOTHER TITLE</div></a></div><div class="post_effect"><a class="post"><div class="post4">OH COOL A POST!</div></a></div>
  </div>
</div>

<div class="footer">

  <div class="footer_logo">
    <img src="../images/footer-logo.png" class="footer_logo"></img><span><a>The Ironyard Copyright 2014, All Rights Reserved</a></span>
  </div>

  <div class="footer_nav">
    <ul>
      <li><a>Nav Item 1</a></li> |
      <li><a>Nav Item 2</a></li> |
      <li><a>Nav Item 3</a></li> |
      <li><a>Nav Item 5</a></li>
    </ul>
  </div>
</div>

</div>
  </body>
</html>
