<body>
<div class="container">
	<div class="head">
		<div class="blog"><img src="images/wave.png"> SURF & PADDLE CO. BLOG<div class="search"> ABOUT SEARCH <img src="images/glass.png"></div>
	</div>
	<p class="htext">SURF & PADDLE CO.
		<div class="iy"> An Ironyard Academy Project Est. Spring 2014 </div></p>
	</div>
</div>
</body>
