<div class="header">
  <div class="company-info">
    <img src="/images/WaveLogo.png">
    <a href="/">SURF & PADDLE CO. BLOG</a>
  </div>

  <div class="top-navbar">
    <ul>
      <li>ABOUT</li>
      <li>SEARCH</li>
      <li><i class="fa fa-search"></i></li>
    </ul>
  </div>

  <div class="hero">
    <h1>SURF & PADDLE CO.</h1>
    <p>An Iron Yard Project est. Spring 2014</p>
  </div>

</div>
