<header>
  <div class="title">
    <div>
      <section>
        <div>
        <span class="blog_name">
          <img src="/images/wavelogo.png">
          &nbsp;CLOAK&nbsp;&amp;&nbsp;DAGGER&nbsp;CO.&nbsp;BLOG</span>
        </div>
          <div>
          <span class="title_tools">ABOUT<span style="margin: 8px;"></span>
          SEARCH&nbsp;<i class="fa fa-search fa-flip-horizontal"></i></span>
        </div>
      </section>
    </div>
    <h1 class="title_text">CLOAK&nbsp;&amp;&nbsp;DAGGER&nbsp;CO.</h1>
    <div class="subtitle">An Iron Yard Academy Project Est. Fall 2014</div>
  </div>
</header>
