
<body class="<%= page_classes %>">
	<div class="ltext">
		<div class="headline"> A FANTASTIC ENGAGING HEADLINE GOES HERE</div>
		<img class="mepic2" src="images/pic2.png">
		<div class="n">Noah Holmes </div>
		<div class="dy">on <span>Tuesday, September 30th, 2014</span></div>
		<p>	Lorem ipsum dolor sit amet,
			consectetur adipiscing elit.
			Fusce luctus auctor fringilla.
			Etiam quis cursus lectus. Nulla facilisi.
			In pulvinar odio erat, vitae hendrerit ante condimentum vel.
			Maecenas tincidunt mattis porttitor. Morbi mattis,
			tellus vitae faucibus sagittis,
			nulla ex cursus odio.
		</p>
		<p>	a lobortis ligula nibh non ipsum.
			Sed mauris lacus, dictum at diam at,
			mollis fringilla enim.
			Proin sit amet est in tortor bibendum suscipit et ut mi.
			Fusce ac <a class="google" href="www.google.com">commodo orci.<a>
			</p>
			<div class="whoa"><p> WHOA, THAT'S TUBULAR!</p> </div><p>
				Morbi at ornare urna. Ut velit nulla,
				fringilla sed arcu at, aliquet mattis diam.
				Suspendisse id erat id orci convallis consectetur a id dui.
				Nulla eleifend lectus sapien, <a href="www.google.com">non vulputate (rollover)<a> est interdum sed.
					Proin egestas a est a lobortis.
					Proin tincidunt sed eros a semper.
					Curabitur suscipit at velit in dignissim.
					Mauris commodo elit arcu, sed lacinia leo placerat et.
					In rhoncus ac turpis at maximus.
					Donec id hendrerit nunc, et congue lorem.
					Nulla lacus neque, hendrerit eget lorem rhoncus,
					aliquet hendrerit odio. Aliquam suscipit dignissim ipsum at tincidunt.</p>
					Aliquam erat volutpat. Pellentesque tempor lorem mauris.
					Integer id fringilla libero, ac euismod mauris.
					Nulla eleifend lectus sapien, non vulputate est interdum sed.
					Proin ege.	Proin ege.	Proin ege. Proin.
				</p>
				<div class="table"><img src="images/linknames.png">
				</div>
			</div>
				<div><h1 class="popular"> MOST POPULAR POSTS </h1>
					<div class="boxes"><div></div><div></div><div></div></div></div>
				</body>
				<%= yield %>
				</html>
