<div class="right_pane">
  <%= tag :img, :src => current_page.data.avatar, :class => "avatar" %>
  <h1><%= current_page.data.author %></h1>

    <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
    </ul>
      <div class="ad"></div>
      <div class="ad_disclaimer1">About this Ad</div>
      <h2 class="sidebar">Sidebar Section Heading</h2>
      <h3 class="sidebar_text">Tobacco baldwin lofts sculpture history hub southpoint, centerfest the buehler. Eno north east the buehler basketball urban ministries listserv wool e bull bragtown bull, blue devils house-made train maker full frame hipster book exchange, dpac trinity park hope valley</h3>
  </div>
