<div class="rtext">
	<div class="picinfo">
		<div> <img class="mepic" src="images/pic2.png">
		</div>
		<div id="name"> NOAH HOLMES
		</div>
		<div id="social"> Twitter   Facebook   Instagram
		</div>
	</div>
	<div>
		<div class="image">
		</div>
		<a class="link" href="www.google.com"> Bail out, bro!
		</a>
	</div>
	<div class="shead"> SIDEBAR SECTION HEADING
	</div>
	<div class="sidebar"> Vivamus aliquam eu libero in dictum.
		Vestibulum ante ipsum primis in faucibus
		orci luctus et ultrices posuere cubilia Curae;
		Cras eleifend <a class="google" href="www.google.com">commodo orci.<a>
			Aliquam non ultricies nibh.
			Aenean et ligula ac ipsum.
		</div>
	</div>
