<div class="post_footer">
  <div class="post_option_icon">
    <i class="fa fa-comment"></i>
  </div>
  <span class="post_option">Read Comments</span>
  <div class="post_option_icon">
    <i class="fa fa-cloud-upload"></i>
  </div>
  <span class="post_option">Read Later</span>
  <div class="post_option_icon">
    <i class="fa fa-share-square-o"></i>
  </div>
  <span class="post_option">Share This Post</span>
</div>
