---
Title: ABOUT
---

<!DOCTYPE>
<html>
<div class="ABOUT">
<h1>About</h1>

  <p> This is a repository for articles written by folks who have paved the way for technology's evolution.
  </p>
</div>
</html>
