<ul class="buttons">
  <li class="read-comments"><i class="icon-talk-chat"></i>Read Comments</li>
  <li class="read-later"><i class="icon-readernaut"></i>Read Later</li>
  <li class="share-post"><i class="icon-share-square"></i>Share This Post</li>
</ul>