<div class="footer">
      <h2>MOST POPULAR POSTS</h2>
      <ul class="image-links">
        <li class="oar"><a href=""><div class="link-text">COOL POST</div></a></li>
        <li class="dolphin"><a href=""><div class="link-text">COOLER POST</div></a></li>
        <li class="kayak"><a href=""><div class="link-text">COOLEST POST</div></a></li>
        <li class="dog"><a href=""><div class="link-text">GARBAGE POST</div></a></li>
      </ul>
      <div class="bottom-nav"></div>
    </div>