
<section>
  <div class="title"></div>
  <article>
    <p>asdfasdfasdf</p>
    <div>
      <span class="button">button</span>
      <span class="button">button</span>
      <span class="button">button</span>
    </div>
  </article>
  <aside>ad</aside>
</section>
