<div>
<section>
  <article>
    <div>
      <ul>
        Our Authors: <% data.authors.each do |k, v| %>
                    <li><%= v[:name] %><img src="<%= v[:portrait] %>" style="width: 300;">
                      <!-- <ul>
                        <%# v[:links].each do |k, v| %>
                        <li><%#= k + ": " + v %></li>
                        <%# end %>
                      </ul> -->
                    </li>
                    <% end %>
        </ul>
    </div>
    <div>
      <span class="button">button</span>
      <span class="button">button</span>
      <span class="button">button</span>
    </div>
  </article>
  <aside>ad</aside>
</section>
</div>
