      <div class="header">
        <div class="header-links">
          <div class="topleft">
            <a href="/index.html">
              <img src="https://s3.amazonaws.com/uploads.hipchat.com/31349/895339/L4htgjvExw2oUzz/WaveLogo.png" alt="wave" class="wave">
              <div class="blog">SURF &amp; PADDLE CO. BLOG</div>
            </a>
          </div>
          <ul>
            <li><a href="about" class="about-link">ABOUT</a></li>
            <li><a href="search" class="search-link">SEARCH<i class="icon-magnifying-glass"></i></a></li>
          </ul>
        </div>
        <div class="title">
          <h1>SURF &amp; PADDLE CO.</h1>
          <h5>An Ironyard Academy Project Est. Spring 2014</h5>
        </div>
      </div>