---
title: Surf & Paddle Co.
---
<!DOCTYPE html>
<html>
<head>
  <title>Surf & Paddle Co.</title>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<!-- <header>
  <span class=logo><i class="fa fa-tint"></i> SURF & PADDLE CO. BLOG
    <span class=about><a href="https://www.yahoo.com/">About</a></span>
    <span class=search><a href="https://www.google.com">Search</a> <i class="fa fa-search"></i></span>
  </span>
  <div class=top>SURF & PADDLE CO.</div>
  <div class=subtitle>An Ironyard Academy Project Est. Spring 2014</div>
</header>

<body>

  <div class=header2>A FANTASTIC ENGAGING <div>HEADLINE GOES HERE</div></div>
  <div class=author>
    <img src="http://i60.tinypic.com/qqpq81.jpg">
    <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>
      Torey Stapleton</a> <time>on Tuesday Sep. 30th 4:53 pm </time></div>

      <div class=side1>
        <img src="http://i60.tinypic.com/qqpq81.jpg"></div>

        <div class=link><a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>
          Torey Stapleton</a>
        </div>

        <div class=authlinks>
          <li>
            <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>Twitter</a>
            <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>Facebook</a>
            <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>Instagram</a>
          </li>
        </div>


        <div class=main>
          There is some voodoo magic going on here.  Toseru som fano losis anema burihon
          ciserol. Redet ivirino qera emi ror tar pegogav no. Wecom gohudow hie tietip
          cis gati? Saresef uhan bedac nigili tace li. Itarofit bobus etahegar mevetoy
          ti agoruge tene luyomov oruruf dekame. Tayerip leratu ogehedud madid imiyon.
        </div>


        <div class=side2>
          <img src="http://cdn.visualnews.com/wp-content/uploads/2013/12/swimming-pigs-bahamas-2.jpg">
        </div>

        <div class=s2link><a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>About This Ad</a>
        </div>


        <div class=main2>Rurota nirates geyam cucera pelale mas iyolis osolome hahe iegadari, uyubi lunep fem sasey gopoma? Rop cokehar ditase onetu obi <a href ="http://www.buzzfeed.com/jarrylee/snapechat#uzqj9k">toti ekol isari.</a>
        </div>

        <div class=rad>WHOA, THAT'S RADICAL!
        </div>


        <div class=main3> Toseru som fano losis anema burihon ciserol. Redet ivirino qera emi <a href ="http://www.google.com">ror tar pegogav no</a>. Wecom gohudow hie tietip cis gati? Saresef uhan bedac nigili i erer ce itacir somoc ga! Unafica gahone uba me etir elola pa, goce me yubie yitebon dedipos! Selal niraf amed soso alaro horo leqelies. Tefagay epenoc ropa mex nutene. Nit anesilet are anacor.
          <p>Rurota nirates geyam cucera pelale mas iyolis osolome hahe iegadari, uyubi lunep fem sasey gopoma? Rop cokehar ditase onetu obi.  Itarofit bobus etahegar mevetoy ti agoruge tene luyomov oruruf dekame. Tayerip leratu ogehedud madid imiyon, seharie berih anuve remicib fa ne yerasie, esoruw nosopa kiley notayid tocekam ehidaro.</p></div>


          <div class=side3>
            <p class=s3head> Sidebar Section Heading </p>
            <span class=s3text>This paragraph here explains what is going on under this picture.  This paragraph here explains what is going on under this picture.  This paragraph here explains what is going on under this picture.</span>
          </div>

          <div class=boxlinks>
            <span class=com><i class="fa fa-comment"></i><a href=https://github.com>Read Comments</a></span>
            <span class=star><i class="fa fa-star"></i><a href=https://www.youtube.com>Read Later</a></span>
            <span class=square><i class="fa fa-share-square"></i><a href=https://www.netflix.com>Share This Post</a></span>
          </div>

          <div class=morelinks>Recent Posts</div>
            <ul>
              <div class=ada><%= link_to 'Ada\'s Guide on How to Look Like Princess Leia', 'ada.html'%><div class=adaauthor>by Ada Lovelace on Dec 20th 1843</div><div class=adasnip></div></div>
            </ul>
          </div>


          <footer>
            <div class=moreposts>MOST POPULAR POSTS</div>
            <li>
              <div class=left1><a href="https://www.google.com">Cool Post</a></div>
              <div class=left2><a href="https://www.google.com">Another Cool Post</a></div>
              <div class=right2><a href="https://www.google.com">These Posts Never End</a></div>
              <div class=right1><a href="https://www.google.com">Seriously, Another One?</a></div>
            </li>
          </footer>
        </body>
        </html> -->
