---
title: Surf & Paddle
---

<head>
  <link rel="stylesheets" type="text/css" href="/stylesheets/all.css">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<!DOCTYPE html>
<html>
<body>
  <header>
    <div class="top-nav-bar">
      <div class="nav-buttons">
        <ul>
          <li>ABOUT</li>
          <li>SEARCH<i class="fa fa-search"></i></li>
        </ul>
      </div>
      <div class="logo-blog">
        <ul>
          <img src="../images/WaveLogo.png"></img>
          <li>SURF & PADDLE CO. BLOG</li>
        </ul>
      </div>
    </div>
    <h1> SURF & PADDLE CO.</h1>
    <h2> An Iron Yard Academy Project Est. Spring 2014</h2>
  </header>

  <div class="container">
    <section class="left">
      <h3>A FANTASTIC ENGAGING HEADLINE GOES HERE</h3>

      <div class="credits">
        <ul>
          <li><div class="avatar1"></div></li>
          <li>Anne Marie</li>
          <li>on <span>Monday Oct. 7th 9:22pm</span></li>
        </ul>
      </div>
      <div class="text">
        <p>Skysail spanker code of conduct black jack furl hulk fluke cable to go on account crack Jennys tea cup. Run a rig chantey grog blossom Plate Fleet Corsair cackle fruit Arr landlubber or just lubber quarter booty. Deadlights plunder knave heave to splice the main brace cutlass chase guns ye quarterdeck bilged on her anchor.
Interloper booty grog lad fathom Pieces of Eight broadside case shot tack Privateer. Long boat flogging Pieces of Eight belay sutler maroon Barbary Coast to go on account spyglass yard. Reef scuttle parrel barkadeer Gold Road handsomely jib weigh anchor driver Chain Shot.
Hardtack Letter of Marque aye rigging main sheet maroon lad tackle topmast draught. Bowsprit gangplank grog Pirate Round Sail ho bounty interloper Sea Legs Letter of Marque clipper. Quarterdeck gangway Pirate Round Corsair grapple matey main sheet galleon spyglass belaying pin.
        </p>
      <!-- comment icon fa-comment-o [&#xf0e5;] -->
      <!-- cloud upload icon  fa-cloud-upload [&#xf0ee;] -->
      <!-- search icon  fa-search [&#xf002;] -->
    </section>
    <section class="right">
      <div class="avatar2"></div>
      <div class="name">Annie Dolphin</div>
      <div class="social-links">
        <ul>
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="ad-image1"></div>
      <h4>SIDEBAR SECTION HEADING</h4>
    </section>
  </div>
  <footer>
  </footer>
</body>
</html>
