---
title: Surf & Paddle
---
<!Doctype HTML>
<html>
<link href="normalize.css" rel="stylesheet" type="text/css">
<body>
  <div class="intro">
    <section><p class="title"><%= link_to 'I AM SMARTER', 'easley.html' %></p></section>
    <div class = "authorimg"><img src="http://thegrapevineiub.files.wordpress.com/2012/11/annieengineeringnewsletter.jpg?w=1038&h=576&crop=1"></div>
    <div class="imgtxt"><p>ANNIE EASLEY<span class="date">&nbsp on Monday, November 7th</p></div>
      <article><p> 'It isn't mine,' said the Hatter. 'Stolen!' the King exclaimed, turning to
        the jury, who instantly made a memorandum of the fact. 'I keep them to sell,' the Hatter
        added as an explanation; 'I've none of my own. I'm a hatter.' Here the Queen put on her
        spectacles, and began staring at the Hatter, who turned pale and fidgeted. 'Give your evidence,'
        said the King; 'and don't be nervous, or I'll have you executed on the spot.' This did not seem to
        encourage the witness at all: he kept shifting from one foot to the other, looking uneasily at the
        Queen, and in his confusion he bit a large piece out of his teacup instead of the bread-and-butter.</p>
        <img src="http://i.imgur.com/FnukwVO.png">
      </article>
    </div>
    <!-- <div class="sidebar">
      <section>
        <!-- <div class="circleimg"><img src="http://img1.wikia.nocookie.net/__cb20120828214045/disney/images/6/6d/Alice_in_wonderland_1951.jpg"></div>
        <div class="imgtxt"><h1>BUSTER BLUTH</h1></div> -->
        <!-- <div class="links">
        <a href="https://twitter.com/danielleheckman">Twitter </a><a href="https://www.facebook.com/daniheckman">Facebook  </a><a href="http://instagram.com/daniheckman">Instagram</a></div> -->
        <!-- <div class="bgimg"></div>
        <img src="http://www.highdefdiscnews.com/screenshots/alice_in_wonderland_1951_7.png">
        <h1>SIDEBAR SECTION HEADING</h1></section>
        <article>'Give your evidence,' the King repeated angrily, 'or I'll have you executed, whether
          you're nervous or not.' 'I'm a poor man, your Majesty,' the Hatter began, in a trembling voice,
          '—and I hadn't begun my tea—not above a week or so—and what with the bread-and-butter getting so
          thin—and the twinkling of the tea—' 'The twinkling of the what?' said the King.</article>
        </div> -->
    <div class="intro">
      <section><p class="title"><%= link_to 'I DO THINGS ALSO', 'turing.html' %></p></section>
      <div class = "authorimg"><img src="http://www.returnofkings.com/wp-content/uploads/2014/01/alan-turing.jpg"></div>
      <div class="imgtxt"><p>ALAN TURING<span class="date">&nbsp on Tuesday, November 8th</p></div>
        <article><p> 'It isn't mine,' said the Hatter. 'Stolen!' the King exclaimed, turning to
          the jury, who instantly made a memorandum of the fact. 'I keep them to sell,' the Hatter
          added as an explanation; 'I've none of my own. I'm a hatter.' Here the Queen put on her
          spectacles, and began staring at the Hatter, who turned pale and fidgeted. 'Give your evidence,'
          said the King; 'and don't be nervous, or I'll have you executed on the spot.' This did not seem to
          encourage the witness at all: he kept shifting from one foot to the other, looking uneasily at the
          Queen, and in his confusion he bit a large piece out of his teacup instead of the bread-and-butter.</p>
          <img src="http://i.imgur.com/FnukwVO.png">
        </article>
      </div>
<div class="intro">
  <section><p class="title"><%= link_to 'ME AS WELL', 'lovelace.html' %></p></section>
  <div class = "authorimg"><img src="http://mentalfloss.com/sites/default/files/styles/article_640x430/public/ada_lovelace_portrait_by_chalon_1838.jpg"></div>
  <div class="imgtxt"><p>ADA LOVELACE<span class="date">&nbsp on Wednesday, November 9th</p></div>
    <article><p> 'It isn't mine,' said the Hatter. 'Stolen!' the King exclaimed, turning to
      the jury, who instantly made a memorandum of the fact. 'I keep them to sell,' the Hatter
      added as an explanation; 'I've none of my own. I'm a hatter.' Here the Queen put on her
      spectacles, and began staring at the Hatter, who turned pale and fidgeted. 'Give your evidence,'
      said the King; 'and don't be nervous, or I'll have you executed on the spot.' This did not seem to
      encourage the witness at all: he kept shifting from one foot to the other, looking uneasily at the
      Queen, and in his confusion he bit a large piece out of his teacup instead of the bread-and-butter.</p>

      <img src="http://i.imgur.com/FnukwVO.png">
    </article>
  </div>
      <!-- <div class="sidebar">
      <section> -->
      <!-- <div class="circleimg"><img src="http://img1.wikia.nocookie.net/__cb20120828214045/disney/images/6/6d/Alice_in_wonderland_1951.jpg"></div>
      <div class="imgtxt"><h1>BUSTER BLUTH</h1></div> -->
      <!-- <div class="links">
      <a href="https://twitter.com/danielleheckman">Twitter </a><a href="https://www.facebook.com/daniheckman">Facebook  </a><a href="http://instagram.com/daniheckman">Instagram</a></div> -->

    </body>
    </html>
