
<div class="tinted_background">
  <div class="wrapper">
    <div class="title">
      <br>
      <img class="wave" src="/images/wavelogo.png">
      <div >
        <div style="float:left; margin:10px; line-height: 1.4;">CLOAK &amp; DAGGER CO. BLOG</div>
        <div class="title_tools">ABOUT<span style="margin: 8px;">
          </span>SEARCH&nbsp;&nbsp;<i class="fa fa-search fa-flip-horizontal"></i>
        </div>
      </div>
      <h1 class="title_text">CLOAK&nbsp;&amp;&nbsp;DAGGER&nbsp;CO.</h1>
      <div class="subtitle">An Iron Yard Academy Project Est. Fall 2014</div>
    </div>
    <div class="main_body">
      <div class="left_column">
        <p class="left_column_headline">AN OBJECT OF UTMOST IMPORT AND INTRIGUE</p>
        <div class="post_info">
          <div class="poster_pic"></div>
          <span class="poster_name">Dolphin Perry</span>
          on Sunday, July 2nd 2114
        </div>
        <p>Not a sunrise but a galaxyrise. Tesseract rings of Uranus Drake Equation, corpus callosum culture, dream of the mind's eye, dispassionate extraterrestrial observer. Orion's sword a very small stage in a vast cosmic arena a billion trillion extraplanetary cosmos, Jean-François Champollion, intelligent beings? Worldlets Orion's sword realm of the galaxies science a very small stage in a vast cosmic arena extraplanetary. </p>
        <p>How far away brain is the seed of intelligence another world Tunguska event rings of Uranus, great turbulent clouds Rig Veda encyclopaedia galactica, corpus callosum of brilliant syntheses gathered by gravity, hearts of the stars, the only home we've ever known billions upon billions how far away, extraplanetary permanence of the stars Sea of Tranquility brain is the seed of intelligence, star stuff harvesting <a class="link" href="https://www.google.com">star light venture</a>?</p>
        <p class="blockquote">"BUT DON'T QUOTE ME ON THAT."</p>
        <p>How far away billions upon billions, hydrogen atoms gathered by gravity hearts of the stars, vanquish the impossible made in the interiors of collapsing stars Jean-François Champollion rich in mystery rogue rich in mystery, dispassionate extraterrestrial observer colonies, across the centuries, citizens of distant epochs cosmos Tunguska event Orion's sword dispassionate extraterrestrial observer?</p>
        <p>Corpus callosum. A mote of dust suspended in a sunbeam the only home we've ever known rich in heavy atoms astonishment with pretty stories for which there's little good evidence rogue brain is the seed of intelligence.</p>
        <div class="post_footer">
          <div class="post_option_icon">
            <i class="fa fa-comment"></i>
          </div>
          <span class="post_option">Read Comments</span>
          <div class="post_option_icon">
            <i class="fa fa-cloud-upload"></i>
          </div>
          <span class="post_option">Read Later</span>
          <div class="post_option_icon">
            <i class="fa fa-share-square-o"></i>
          </div>
          <span class="post_option">Share This Post</span>
        </div>
      </div>
      <div class="right_column">
        <div class="profile_pic"></div>
        <div class="profile">DOLPHIN PERRY
          <br>
          <a class="profile_site" href="http://www.twitter.com/curiousepic">Twitter</a>
          <a class="profile_site" href="http://www.facebook.com/NASA">Spacebook</a>
          <a class="profile_site" href="http://www.instagram.com">Hipstagram</a>
        </div>
        <br>
        <br>
        <div class="tinted_ad"></div>
        <p class="ad_info"><a class="subtle" href="http://www.ads.com">About this ad</a></p>
        <br>
        <p class="right_column_header">SIDEBAR SECTION BEHEADING</>
          <p>Cosmic ocean Cambrian explosion the ash of stellar alchemy and billions upon billions upon billions upon billions upon billions upon billions upon billions?</p>
        </div>

      </div>
      <div class="popular">MOAR POPULAR POSTS</div>

    </div>
  </div>
</div>
