<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Surf & Paddle</title>
    <link href="https://fontastic.s3.amazonaws.com/huTu9LFbRSV22wjAT7MWji/icons.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="body.css">
    <link rel="stylesheet" type="text/css" href="sidebar.css">
  </head>
  <body>
    <div class="body">
      <div class="header">
        <a href="test"><img src="https://s3.amazonaws.com/uploads.hipchat.com/31349/895339/L4htgjvExw2oUzz/WaveLogo.png" class="wave">
          <div class="blog">SURF & PADDLE CO. BLOG</div></a>
        <div class="top_nav">
          <a href="test" class="about">ABOUT</a>
          <a href="test" class="search">SEARCH<div class="icon-magnifying-glass"></div></a>
        </div>
        <div class="title">
          <h1>SURF & PADDLE CO.</h1>
          <h5>An Ironyard Academy Project Est. Spring 2014</h5>
        </div>
      </div>
      <div class="content">
        <div class="post-column">
          <div class="post-title">A FANTASTIC ENGAGING HEADLINE GOES HERE</div>
          <ul class="post-info">
            <li class="picture"></li>
            <li class="poster-name">Annie Dolphin</li>
            <li class="timestamp">on Tuesday October 1, 2014 at 3:38pm</li>
          </ul>
          <div class="post">
            <p>Creative class chapel drive durham bulls luewwd driver street sustainable
              southside durham mag, book exchange angier drive the bulls urban ministries
              tiny farm lettuce. Acc house-made seventy cupcakes bullcity the pickle
              northgate park seed funding microbrew farmer.</p>

              <p>Nevermore scrap exchange the west end butterfly house vintage basketball
              theatre maker coffee artwalk <a href="http://lemur.duke.edu/" class="post_link">lemur center</a>.</p>

              <h3 class="quote">"THIS IS A PULL QUOTE FROM THE ARTICLE."</h3>

              <p>Scrap exchange baldwin lofts artisan baked goods ninth street the indy
              fifty-five fayetville street, festival for the eno miami boulevard chapel
              drive artisan baked goods acc, one forty seven erwin square hipster the
              loop central park. Watts scrap exchange 70 incubator ukulele main street chapel drive
              corporation, ballpark bull bulls luewwd driver street sustainable
              southside durham mag, book exchange .

              <p>Southside one forty seven central park baseball. Watts seeds north
              east eagles dino trail the connecter west village music on the lawn,
              gritty bragtown medicine herald sun geer street vest, scooterthe indy
              tobacco we want oprah 55 erwin road 15-501 beaver queen, black wall street
              the kress alston avenue blues festival sculpture. Acc house-made seventy
              cupcakes bullcity the pickle northgate park seed funding microbrew farmer.</p>
              <ul class="buttons">
                <li><div class="icon-talk-chat"></div>Read Comments</li>
                <li class="short-button"><div class="icon-readernaut"></div>Read Later</li>
                <li class="share"><div class="icon-share-square"></div>Share This Post</li>
              </ul>
          </div>
        </div>
        <div class="sidebar">
          <div class="contact">
            <div class="picture"></div>
            <h4>ANNIE DOLPHIN</h4>
            <ul =class="social-media">
              <li>Twitter</li>
              <li>Facebook</li>
              <li>Instagram</li>
            </ul>
          </div>
          <div class="ad-box">
            <div class="ad"></div>
            <a href="">About This Ad</a>
          </div>
          <div class="sidebar-section">
            <h4>SIDEBAR SECTION HEADING</h4>
            <p>Signe de taureau tauro bola bula bola grande toro bula papal, opdrijven
              auf hausse spekulieren bik haussespekulant alcista hanne signe de taureau
              polis, spekulera i hausse poliziotto spekulator bulla buhai bolla.</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="post-title">MOST POPULAR POSTS</div>
        <ul class="pop-links">
        <li class="oar"><a href=""></a></li><!--
        --><li class="dolphin"><a href=""></a></li><!--
        --><li class="kayak"><a href=""></a></li><!--
        --><li class="dog"><a href=""></a></li>
        </ul>
        <div class="bottom-nav">
          <div class="tiy-logo"></div>
            <div class="copyright">The Ironyard Copyright 2014, All Rights Reserved</div>
          <ul class="nav-items">
            <li>Nav Item 4</li>
            <li>Nav Item 3 |&nbsp;</li>
            <li>Nav Item 2 |&nbsp;</li>
            <li>Nav Item 1 |&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
