---
title: Surf & Paddle
---

  <title>Surf & Paddle Co.</title>
  <meta charset="UTF-8">
  <link href='../stylesheets/index.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="main_wide">
      <h1>A Fantastic Engaging Headline Goes Here</h1>
      <span>
        <div class="small_avatar"></div><h2>Annie Dolphin </h2><h3> on Monday, June 7th 9:22 pm</h3>
      </span>
      <div class="text">
        <p>Tobacco baldwin lofts sculpture history hub southpoint, centerfest the buehler.
        Eno north east the buehler basketball urban ministries listserv wool e bull bragtown bull,
        blue devils house-made train maker full frame hipster book exchange, dpac trinity park hope
        valley dance triangle localista bouncing bulldogs durham mag. West village the connecter</p>

      <div class="effect"><div class="button_ico"><i class="fa fa-comment"></i></div><div class="button">Read Comments</div></div>
      <div class="effect"><div class="button_ico"><i class="fa fa-cloud-download"></i></div><div class="button">Read Later</div></div>
      <div class="effect"><div class="button_ico"><i class="fa fa-share-square-o"></i></div><div class="button">Share This Post</div></div>

      <h1>A Fantastic Engaging Headline Goes Here</h1>
      <span>
        <div class="small_avatar"></div><h2>Annie Dolphin </h2><h3> on Monday, June 7th 9:22 pm</h3>
      </span>

        <p>Tobacco baldwin lofts sculpture history hub southpoint, centerfest the buehler.
        Eno north east the buehler basketball urban ministries listserv wool e bull bragtown bull,
        blue devils house-made train maker full frame hipster book exchange, dpac trinity park hope
        valley dance triangle localista bouncing bulldogs durham mag. West village the connecter</p>

      <div class="effect"><div class="button_ico"><i class="fa fa-comment"></i></div><div class="button">Read Comments</div></div>
      <div class="effect"><div class="button_ico"><i class="fa fa-cloud-download"></i></div><div class="button">Read Later</div></div>
      <div class="effect"><div class="button_ico"><i class="fa fa-share-square-o"></i></div><div class="button">Share This Post</div></div>

      <h1>A Fantastic Engaging Headline Goes Here</h1>
      <span>
        <div class="small_avatar"></div><h2>Annie Dolphin </h2><h3> on Monday, June 7th 9:22 pm</h3>
      </span>

        <p>Tobacco baldwin lofts sculpture history hub southpoint, centerfest the buehler.
        Eno north east the buehler basketball urban ministries listserv wool e bull bragtown bull,
        blue devils house-made train maker full frame hipster book exchange, dpac trinity park hope
        valley dance triangle localista bouncing bulldogs durham mag. West village the connecter</p>

        <div class="effect"><div class="button_ico"><i class="fa fa-comment"></i></div><div class="button">Read Comments</div></div>
        <div class="effect"><div class="button_ico"><i class="fa fa-cloud-download"></i></div><div class="button">Read Later</div></div>
        <div class="effect"><div class="button_ico"><i class="fa fa-share-square-o"></i></div><div class="button">Share This Post</div></div>
    </div>
  </div>

  </div>
