<div class="page-wrapper">

  <div class="bigpic">

    <div class="top-left">
      <img src="images/WaveLogo.png"></img>
      <a class="blog-title">Surf & Paddle Co. Blog</a>
    </div>

    <div class="top-right">
      <ul>
        <li><a>About</a></li>
        <li><a>Search <i class="fa fa-search"></i></a></li>
      </ul>
    </div>

    <h1 class="center-text">Surf &amp; Paddle Co.</h1>
    <h2 class="subtext">Will's Ironyard Academy Project Est. Fall 2014</h2>

  </div>

  <div class="left">

    <h1>A FANTASTIC ENGAGING HEADLINE GOES HERE</h1>

    <p>
      Lorem ipsum dolor sit amet, no est dicat clita primis. Minim voluptaria mea no. At tollit lucilius eos,
      voluptua intellegam per an. Mea impetus aperiri luptatum in, vis laudem aperiam senserit at. Ne vix
      voluptua expetendis consequuntur, meis exerci discere ad has, ex vim prima solet aliquam.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar sollicitudin arcu a imperdiet. Maecenas.
    </p>

    <blockquote>"This is a pull quote from the artcle"</blockquote>

    <p>
      Lorem ipsum dolor sit amet, sea cu case nulla mnesarchum. Usu utamur dissentiet eu. Delenit invidunt
      detraxit ei his. Sea blandit perpetua at, ei vix probo assum affert. Ad mandamus maluisset sit, dictas
      fastidii definiebas ut nam.
    </p>

    <p>
      Ex pri dictas percipit. Id sit quis discere, enim ullum expetendis an duo. Eam te quis discere voluptatum,
      vim quis melius ea. Ius feugiat tacimates forensibus id, mei an aeque explicari.
    </p>

    <ul>
      <li><i class="fa fa-comment-o"><span="comments"></i>Read Comments</span></li>
      <li><span="later"><i class="fa fa-arrow-circle-up"></i> Read Later</span></li>
      <li><span="share"><i class="fa fa-share-square"></i> Share This Post</span></li>
    </ul>

  </div>

  <div class="right">
    <img class="dolphin" src="images/dolphin.jpg" alt="dolphin picture"/>

    <div class="blog-author">
      <h5>ANNIE DOLPHIN</h5>
      <ul class="socials">
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div>

    <img class="kayak" src="images/kayak.jpg" alt="kayak" />

  </div>


</div>
