---
title: Surf & Paddle
---

<!--
Create 3 new pages in Markdown (that is, with .html.md extensions) that use front-matter to populate the title, date, and author. These should use the new layout. Each page should have a different author.

Set the author to a unique key (like Turing) and pull their name, social links, and image from data/authors.yml. (You will need to download an image for each author and add that to their data in authors.yml.)

Change your index.html.erb page to show all three of your other posts in descending order by date. Show:
- The title which should be a link to the post
- The author and date information
- Either the first paragraph of the text or a truncated number of words
- The buttons at the bottom of each post

On your new index.html.erb, the sidebar author information should not show up, as you should have three different authors with posts on the page.

Bonus: Use the middleman-blog extension to create a blog. Use that instead of the way we showed and aggregated posts in this homework.

Remember to use helpers to make your life easier and your templates nicer!
-->

<!DOCTYPE html>

<html>
  <head>
    <title>Surf &amp; Paddle Co. - Blog</title>
    <%= stylesheet_link_tag %>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
<body>

  <div class="header">
      <div class="container">
        <span class="top_left">
          <img src="/images/WaveLogo.png">
        </span>
          <span class="top_left_blog">SURF &amp; PADDLE CO. BLOG</span>
        </span>
        <div class="top_right">
          <span class="about">ABOUT</span> <span class="search">SEARCH &nbsp;<i class="fa fa-search"></i></span>
        </div>
        <div class="title_text">
          <h1>SURF &amp; PADDLE CO.</h1>
        </div>
        <div class="below_title_text">An Iron Yard Academy Project Est. Summer 2014</div>
        </div>
  </div>

  <div class="wrapper">
    <div class="left">
      <div class="left_headline">
        <h1>A FANTASTIC ENGAGING HEADLINE GOES HERE</h1>
      </div>

      <table>
      <tr>
        <td><span class="byline"><img src="http://i.imgur.com/Yid95bP.png"></span></td>
        <td><span class="author_left_name">Annie Kitten</span> on Monday, June 7th 9:22pm</td>
      </tr>
      </table>

      <p class="left_paragraphs">
Tattooed swag VHS wayfarers occupy whatever. Swag Brooklyn single-origin coffee mlkshk selfies. Gentrify Marfa Thundercats before they sold out Godard cornhole. Chambray messenger bag Schlitz, deep v Austin occupy cliche Pitchfork. Hashtag next level bespoke, cray 90's photo booth Portland beard.
      </p>

      <p class="left_paragraphs">
Vegan artisan wolf irony. Odd Future gentrify paleo bicycle rights Banksy. Truffaut flannel whatever, organic bitters four loko heirloom Schlitz vegan you.
      </p>

      <blockquote>"WHAT IS THIS I CAN'T EVEN..."</blockquote>

      <p class="left_paragraphs">
Fashion axe Cosby sweater pork belly, Etsy quinoa organic swag. Normcore quinoa Thundercats ethical biodiesel selfies, lomo 3 wolf moon Williamsburg cardigan plaid chillwave scenester beard. Farm-to-table scenester letterpress distillery, salvia Thundercats drinking vinegar Tumblr pork belly Bushwick before they sold out mumblecore.
      </p>

      <p class="left_paragraphs">
VHS. Pinterest mlkshk squid, vinyl stumptown polaroid flexitarian. Shoreditch swag blog pork belly, pug banjo fap PBR&amp;B synth mumblecore freegan cardigan mustache chia. Chillwave Cosby sweater locavore, salvia bespoke Odd Future selfies squid pour-over yr flannel ugh skateboard occupy. Readymade Portland Bushwick, tofu Marfa banh mi sustainable McSweeney's dreamcatcher sartorial Brooklyn.
      </p>

      <table>
        <tr>
          <td>
            <a href="http://www.dogpile.com/" class="comments_button" target="_blank"><i class="fa fa-comment"></i>&nbsp; Read Comments</a>
          </td>
          <td>
            <a href="http://www.winamp.com/" class="read_later_button" target="_blank"><i class="fa fa-cloud-upload"></i>&nbsp; Read Later</a>
          </td>
          <td>
              <a href="http://archiveteam.org/index.php?title=GeoCities" class="share_button" target="_blank"><i class="fa fa-share-square-o"></i>&nbsp; Share This Post</a>
          </td>
        </tr>
      </table>
    </div>

    <div class="right">
      <div class="author_right_picture" align="center">
      </div>
        <p class = "author_right_name">
      ANNIE KITTEN</p>
        <p class="social_right">
        Twitter &nbsp; Facebook &nbsp; Instagram
        </p>
      <div class="picture_right">
      </div>
      <div class="picture_right_link">
        <a href="http://www.simcity.com/en_US/product/simcity2000" target="_blank">About this Ad</a>
      </div>
    <br>
    <br>
      <div class="sidebar_heading">SIDEBAR SECTION HEADING</div>
      <p class="right_paragraph">
Pour-over. Wes Anderson keffiyeh ethical, street art Kickstarter four loko disrupt cray XOXO mlkshk you probably haven't heard of them. Artisan aesthetic hoodie keffiyeh pickled Marfa +1 street art Tumblr Truffaut fixie Neutra messenger bag.
      </p>
    </div>
  </div>
</body>
</html>
