---
title: Surf & Paddle
---

<!-- insert content here -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <title></title>
  </head>
  <body>
      <div class="header">
        <div class="topright"> <img class="toppic" src="https://s3.amazonaws.com/uploads.hipchat.com/31349/895339/L4htgjvExw2oUzz/WaveLogo.png"/>
           SURF &amp; PADDLE CO. BLOG
        </div>
        <div class="topleft"> ABOUT  SEARCH
        </div>
        <div> <h1 class="topmain">SURF &amp; PADDLE CO.
        </h1>
        <h2 class="submain" >An Ironyard Academy Project Est. Summer 2014
        </h2>
        </div>
    </div>
    <!-- Left side of body -->
  <div class="wbody">
      <div class="bodytop">A FANTASIC ENGAGING HEADLINE GOES HERE
        </div>
        <div>
          <img class="dolph" src="http://icons.iconarchive.com/icons/martz90/circle/512/dolphin-icon.png"/>
          </div>
          <div class="dword">
            <p class="bluename1">Mike Harris</p>
               <span class="sword"> Twitter Facebook Instagram </span>
          </div>
          <div class="smalld">
            <img class="smalld1" src="http://icons.iconarchive.com/icons/martz90/circle/512/dolphin-icon.png"/>
               <span class="bluename2">Mike Harris </span>
               Someday 99, 3045
          </div>
          <div class="t1">Lorem ipsum dolorfj iofnjew fipfwljif fikfsw dr hsg sesdfhbdfg gtgrgerg rthft hstg grsfg egeg gegerg  sit amet, consectetur adipiscing elit. Etiam vel ante massa. Nunc aliquet leo vel ultrices eleifend. Vestibulum interdum in purue semper. Etiam varius augue et mi suscipit lobortis.
            <p> Molestie accumsanfndajlk af adkjfua fnfa faip fjlaopia n faej fiow fwniowf wf  arcu sit amet egestas.
            </p>
          </div>
          <div>
            <img class="t2" src="http://wwz.ifremer.fr/var/storage/images/medias-ifremer/medias-iowaga/images/waves-at-katsiveli/818004-1-eng-GB/Waves-at-Katsiveli.jpg"/>
          </div>
          <div class="t3"><h4>"THIS IS A PULL QUOTE FROM THE ARTICLE"</h4>
          </div>
          <div class="t4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum id erat id elementum. Mauris ac consectetur sem. Integer ullamcorper, nunc et condimentum ultrices, neque, eu <span class="roll">finibus dolor diam at </span>nunc. Pellentesque habitant morbi tristique senectus et netus et mal esuaimentum prec turpis.
            <p>
Cras sed nunc at odio ultricies iaculis. Aliquam egestas velit mauris, a vulputate ante semper a. Aliquam eget accumsan augue, ut ornare nibh. Duis id ipsum massa. Curabitur sollicitudin felis fringilla urna ornare malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sed dictum dolor. Suspendisse varius justo.
            </p>
          </div>
          <div class="t5"><h5>SIDEBAR SECTION HEADING</h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at purus in mauris dignissim aliquet. Phasellus eget ullamcorper nulla. Sed efficitur porttitor magna dictum dignissim.
          </div>
          <div class="bot">
        <img class="buttons" src="../images/Buttons.png"/>
        </div>
  </div>


  </body>
</html>
