---
title: Progenitors of Programming
---
<!DOCTYPE html>
<html>
<%= partial "/layouts/partials/head" %>

<body>
  <%= partial "/layouts/partials/header" %>
  <div class="container">
    <section class="left">
      <!-- <% if content_for?(:left) %>
        <div class="article__content">
          
          <%= yield_content :article %>
        </div>
      <% end %> -->
      <h3>A FANTASTIC ENGAGING HEADLINE GOES HERE</h3>
      <%=current_page.data.title%>

      <div class="credits">
        <ul>
          <li><div class="avatar1"></div></li>
          <li>Anne Marie</li>
          <li>on <span>Monday Oct. 7th 9:22pm</span></li>
        </ul>
      </div>
      <div class="text">
        <article>

            <!-- date.pretty_date
            truncate("Once upon a time in a world far far away", :length => 8)
            lorem.words 5 ??? --> -->
        </article>
      <!-- comment icon fa-comment-o [&#xf0e5;] -->
      <!-- cloud upload icon  fa-cloud-upload [&#xf0ee;] -->
      <!-- search icon  fa-search [&#xf002;] -->
    </section>
    <section class="right">
      <div class="avatar2"></div>
      <div class="name">Annie Dolphin</div>
      <div class="social-links">
        <ul>
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="ad-image1"></div>
      <h4>SIDEBAR SECTION HEADING</h4>
    </section>
  </div>
  <footer>
  </footer>
</body>
</html>
