---
title: Surf & Paddle
---
<!-- insert content here -->
<html>
  <div class="header"><h1>Surf & Paddle</h1></div>
  <div class="container">
    <div class="article">
      <h2>A FANTASTIC ENGAGING HEADLINE GOES HERE</h2>
      <img class="images/dolphin.png">
      Annie Dolphin on <time datetime="2014-06-07 21:22">Monday June 7th 9:22 PM</time>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
    </div>
    <div class="authors">
      <h1>Authors</h1>
      <ul>
        <% data.authors.each do |a| %>
          <li><%= a[0] %></li>
        <% end %>
      </ul>
    </div>
    <div class="sidebar">
      <img src="images/dolphin.png">
      ANNIE DOLPHIN
      <div class="social">Twitter | Facebook | Instagram</div>
      <img src="images/sea_sq.png">
    </h3>SIDEBAR SECTION HEADING</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
    </div>
  </div>
  <h2>Most Popular Posts</h2>
  <div class="footer">Footer</div>
</html>
