---
title: Surf & Paddle
---

<html>
<head>
  <title>Surf and Paddle</title>
  <link rel="stylesheet" type="text/css" href="surfandpaddle.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div class="bigpic">
    <img class="wavelogo" src="images/WaveLogo.png"/>
    <div class="topleft">Surf &amp; Paddle Co.</div>
    <div class="topright">About Search <i class="fa fa-search"></i></div>
    <div class="center">SURF &amp; PADDLE CO.</div>
  </div>


  <div class="left">
    <div class="headline">
      <h1>A FANTASTIC ENGAGING HEADLINE GOES HERE</h1>
    </div>
    <author>Annie Dolphin</author>
  </div>



<div class ="left">
  <p>
    Lorem ipsum dolor sit amet, no est dicat clita primis. Minim voluptaria mea no. At tollit lucilius eos,
    voluptua intellegam per an. Mea impetus aperiri luptatum in, vis laudem aperiam senserit at. Ne vix
    voluptua expetendis consequuntur, meis exerci discere ad has, ex vim prima solet aliquam.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar sollicitudin arcu a imperdiet. Maecenas.
  </p>

  <blockquote>"This is a pull quote from the artcle"</blockquote>

  <p>
    Lorem ipsum dolor sit amet, sea cu case nulla mnesarchum. Usu utamur dissentiet eu. Delenit invidunt
    detraxit ei his. Sea blandit perpetua at, ei vix probo assum affert. Ad mandamus maluisset sit, dictas
    fastidii definiebas ut nam.
  </p>

  <p>
    Ex pri dictas percipit. Id sit quis discere, enim ullum expetendis an duo. Eam te quis discere voluptatum,
    vim quis melius ea. Ius feugiat tacimates forensibus id, mei an aeque explicari.
  </p>

</div>

<div class ="right">
  <img class="dolphin" src="images/dolphin.jpg" alt="dolphin picture"/>
  <!-- <p>
    Annie Dolphin
  </p> -->
</div>

<div class ="right">
  <img class="kayak" src="images/kayak.jpg" alt="kayak" />
</div>

<!-- <div class ="right"> -->
  <div class="sidebar">
  <h4><strong><span class="blueheading">SIDEBAR SECTION HEADING</span></strong></h4>
    <p>
      Lorem ipsum dolor sit amet, ad sonet ubique adipiscing sit, id qualisque accommodare consequuntur est.
      Ne fierent mediocritatem duo, vim no case novum ludus.
    </p>
  </div>
<!-- </div> -->


</body>
</html>
