---
title: Surf & Paddle
---

<!DOCTYPE html>
<html>
<head>
  <title>TIY Homework</title>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="homework.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<div class=header>
  <h1>SURF & PADDLE CO.
  </h1>
  <p>An Ironyard Academy Project Est. Spring 2014
  </p>
</div>

<div class=side1>
  <img src="http://i60.tinypic.com/qqpq81.jpg">
</div>
<div class=side1link>
  <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>
    Torey Stapleton</a>
</div>

<h2> A FANTASTIC ENGAGING <div>HEADLINE GOES HERE</div></h2>
<p class=author>
  <img src="http://i60.tinypic.com/qqpq81.jpg">
  <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>
    Torey Stapleton</a> on Tuesday Sep. 30th 4:53 pm </p>

<div class=authlinks>
  <li>
  <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>Twitter</a>
  <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>Facebook</a>
  <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>Instagram</a>
</li>
</div>

<div class=side2>
  <img src="http://cdn.visualnews.com/wp-content/uploads/2013/12/swimming-pigs-bahamas-2.jpg">
</div>

<div class=s2link>
  <a href =https://www.linkedin.com/pub/torey-stapleton/8a/830/a08>About This Ad</a>
</div>


<p class=main>
  There is some voodoo magic going on here.  Toseru som fano losis anema burihon ciserol. Redet ivirino qera emi ror tar pegogav no. Wecom gohudow hie tietip cis gati? Saresef uhan bedac nigili tace li. Itarofit bobus etahegar mevetoy ti agoruge tene luyomov oruruf dekame. Tayerip leratu ogehedud madid imiyon, seharie berih anuve remicib fa ne yerasie, esoruw nosopa kiley notayid tocekam ehidaro.
<div class=main2>Veb cino tef mesaca. Dama bienotel sotec roti maw gurita! Pie meci osilelan yi erer ce itacir somoc ga! Unafica gahone uba me etir elola pa, goce me yubie yitebon dedipos! Selal niraf amed soso alaro horo leqelies. Tefagay epenoc ropa mex nutene. Nit anesilet are anacor. Rurota nirates geyam cucera pelale mas iyolis osolome hahe iegadari, uyubi lunep fem sasey gopoma? Rop cokehar ditase onetu obi <a href ="http://www.buzzfeed.com/jarrylee/snapechat#uzqj9k">toti ekol isari.</a>
</div>
</p>
<div class=side3>
  <h5> Sidebar Section Heading </h5>
  This paragraph here explains what is going on under this picture.  This paragraph here explains what is going on under this picture.  This paragraph here explains what is going on under this picture.  This paragraph here explains what is going on under this picture.
</div>

<p class=radical>
WHOA, THAT'S RADICAL!
</p>


<div><p class=para3> There is some voodoo magic going on here. Toseru som fano losis anema burihon ciserol. Redet ivirino qera emi <a href ="http://www.google.com">ror tar pegogav no</a>. Wecom gohudow hie tietip cis gati? Saresef uhan bedac nigili tace li. Itarofit bobus etahegar mevetoy ti agoruge tene luyomov oruruf dekame. Tayerip leratu ogehedud madid imiyon, seharie berih anuve remicib fa ne yerasie, esoruw nosopa kiley notayid tocekam ehidaro.  Veb cino tef mesaca. Dama bienotel sotec roti maw gurita! Pie meci osilelan yi erer ce itacir somoc ga! Unafica gahone uba me etir elola pa, goce me yubie yitebon dedipos! Selal niraf amed soso alaro horo leqelies. Tefagay epenoc ropa mex nutene. Nit anesilet are anacor.
</p>
</div>
<div class=para4> Rurota nirates geyam cucera pelale mas iyolis osolome hahe iegadari, uyubi lunep fem sasey gopoma? Rop cokehar ditase onetu obi.  Itarofit bobus etahegar mevetoy ti agoruge tene luyomov oruruf dekame. Tayerip leratu ogehedud madid imiyon, seharie berih anuve remicib fa ne yerasie, esoruw nosopa kiley notayid tocekam ehidaro.
</div>

<div></div>
<div class=boxlinks>
  <i class="fa fa-comment"></i> Read Comments
  <i class="fa fa-star"></i> Read Later
  <i class="fa fa-share-square"></i> Share This Post
</div>
</html>
