---
title: Surf & Paddle
---

<!DOCTYPE html>
<html>
<head>
  <title>Surf & Paddle Co.</title>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<div class="wrapper">

  <div class="header">
    <div class="toolbar">
      <div class="left_tools">
          <img src="../images/wave_ico.jpg"></img>
          Surf & Paddle Co. Blog
      </div>
      <div class="right_tools">
          <ul>
            <li>About</li>
            <li>Search<i class="fa fa-search"></i></li>
          </ul>
      </div>
    </div>
    <h1 class="header">Surf &amp; Paddle Co.</h1>
    <h2 class="header">An Ironyard Academy Project Est. Summer 2014</h2>
  </div>
  <div class="page_body">
    <div class="main">
      <h1>A Fantastic Engaging Headline Goes Here</h1>
      <div class="small_avatar"></div><h2>Annie Dolphin</h2><h3>on Monday, June 7th 9:22 pm</h3>
      <div class="text">
        <p>Tobacco baldwin lofts sculpture history hub southpoint, centerfest the buehler.
        Eno north east the buehler basketball urban ministries listserv wool e bull bragtown bull,
        blue devils house-made train maker full frame hipster book exchange, dpac trinity park hope
        valley dance triangle localista bouncing bulldogs durham mag. West village the connecter</p>

        <p>blackwell downtown history hub start-up world beer festival the state of things cupcakes,
        lady arm wrestlers towerview</p>

        <div class="quote">"This is a pull quote from the article."</div>

        <p>drive the bulls we want oprah mountain goats five points french press one forty seven seventy, erwin road durham mag scrap exchange rockwood geer street miami boulevard central park. Hipster central park scrap exchange farmer's market third fridays cleveland holloway adf erwin road bowtie durty sustainable bullcity, scrap exchange chapel drive the double</p>
        <p>nickel world beer festival consensus brightleaf adf walltown yoga. Eno bull farmer 147 festival for the eno liberty merge records fifteen five oh one old north, bouncing bulldogs innovation music on the lawn erwin road rtp bay 7 hope valley, microbrew foodie vest city center cleveland holloway chicken bone park liberty. Beer arm wrestling one forty seven tobacco driver street carpe durham eno luewwd, hope valley beer diamondview renaissance ninth</p>
        <!-- street french press, cleveland holloway renaissance the buehler chapel drive durham music on the lawn. Vest angier drive durham rescue mission lemur center seeds durham freeway scooter warehouse herald sun, university craft cocktail coffee maker microbrew the kress major the bull subaru gregson street, bicycle amshack erwin square central park baseball butterfly house house-made. Full frame bull lady arm wrestlers upcycled startup stampede durham freeway chapel drive dapper warehouse, downtown driver street hayti dance gritty bowtie.</p> -->

        <div class="effect"><div class="button_ico"><i class="fa fa-comment"></i></div><div class="button">Read Comments</div></div>
        <div class="effect"><div class="button_ico2"><i class="fa fa-cloud-download"></i></div><div class="button">Read Later</div></div>
        <div class="effect"><div class="button_ico2"><i class="fa fa-share-square-o"></i></div><div class="button">Share This Post</div></div>
    </div>
  </div>
    <div class="pane">
      <div class="avatar"></div>
    <h1>Annie Dolphin</h1>
    <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
    </ul>
      <div class="ad"></div>
      <div class="ad_disclaimer1">About this Ad</div>
      <h2 class="sidebar">Sidebar Section Heading</h2>
      <h3 class="sidebar_text">Tobacco baldwin lofts sculpture history hub southpoint, centerfest the buehler. Eno north east the buehler basketball urban ministries listserv wool e bull bragtown bull, blue devils house-made train maker full frame hipster book exchange, dpac trinity park hope valley</h3>
    </div>


  <p class="more">MOST POPULAR POSTS</p>
  <div class="posts">
    <div class="post_effect"><a class="post" href="http://www.google.com"><div class="post1">ANOTHER COOL POST</div></a></div><div class="post_effect"><a class="post"><div class="post2">POST TITLE</div></a></div><div class="post_effect"><a class="post"><div class="post3">HERE'S ANOTHER TITLE</div></a></div><div class="post_effect"><a class="post"><div class="post4">OH COOL A POST!</div></a></div>
  </div>
  <div class="footer">
    <img src="../images/footer-logo.png" class="footer_logo"></img>
    <a class="copy_link">The Ironyard Copyright 2014, All Rights Reserved</a>
      <div class="footer_nav">
        <ul class="footer_nav">
          <li class="footer_nav"><a class="footer_nav">Nav Item 1</a></li><span class ="footer_nav">|</span>
          <li class="footer_nav"><a class="footer_nav">Nav Item 2</a></li><span class ="footer_nav">|</span>
          <li class="footer_nav"><a class="footer_nav">Nav Item 3</a></li><span class ="footer_nav">|</span>
          <li class="footer_nav"><a class="footer_nav">Nav Item 5</a></li>
        </ul>
      </div>
  </div>

</div>

</body>
