---
title: Surf & Paddle
---

<<<<<<< HEAD
<!Doctype HTML>
<html>
<head>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
  <link href="all.css" rel="stylesheet" type="text/css">
  <link href="reset.css" rel="stylesheet" type="text/css">
  <link href="normalize.css" rel="stylesheet" type="text/css">

  <title>Surf and Paddle Co.</title>
</head>
<body>
  <header>
    <!-- <i class="fa fa-paw"></i> -->
    <div class = "headerstuff">
      <h1>I'M A MONSTER</h1>
      <h3>ABOUT</h3>
      <h4> SEARCH</h4>
      <h5>SURF & PADDLE CO. BLOG</h5>
      <h6> An Ironyard Academy Project Est. Summer 2014</h6>
      <div class = "overlay">
        <img src = "http://i.imgur.com/WMisRt2.jpg"></div></div>
      </header>
      <div class = "surf">
        <img src = "https://s3.amazonaws.com/uploads.hipchat.com/31349/895339/L4htgjvExw2oUzz/WaveLogo.png"></div>
        <div class = "intro">
          <section><p class="title">A FANTASTIC ENGAGING <br>HEADLINE GOES HERE</p></section>
          <!-- <div id="introimage"><img src="http://i.imgur.com/NJOIn7D.png"></div> -->
          <article> The guy runs a prison, he can have any piece of ass he wants.
            That's my son, you pothead! Quicken! Premiere! Smack of ham.
            What is she doing at a beauty pageant? Is she running the lights or
            something? Annyong. Buster, what are you doing with mother's rape-horn?
            I've always been deeply passionate about nature.
            <p>Perhaps you remember Neuterfest? I'll never forget your wedding.</p>
            <aside class="pquote">
              <blockquote>
                <p>"THERE'S ALWAYS MONEY IN THE BANANA STAND."</p>
              </blockquote>
            </aside><p>
              Gosh Mom… after all these years, God's not going to take a call from you.
              Second-of-ly, I know you're the big marriage expert. Oh I'm sorry, I forgot,
              your wife is dead. Oh, yeah, the $4,000 suit is holding the elevator for a guy
              who doesn't make that in 3 months. Come on! Don't call my escorts whores.
              We'll have to find something to do so that people can look at you without wanting
              to kill themselves. These are my awards, Mother. From Army. The seal is for
              marksmanship, and the gorilla is for sand racing.</p>
              <p> Although George Michael had only got to second base, he'd gone in head first,
                like Pete Rose. However, she mistook the drowsy eye alcohol warning for a winking
                eye alcohol suggestion. Probably out there without a flipper, swimming around in
                a circle, freaking out his whole family. I call it Tricks –- wait for it – Around
                The Office. Don't ask "Can I"… ask "I Can!" Look at us, crying like a couple of
                girls on the last day of camp. I'd rather be dead in California than alive in
                Arizona. Let's see some bananas and nuts! We have unlimited juice?</p>
                <img src="http://i.imgur.com/FnukwVO.png">
              </article>
            </div>
            <div class = "sidebar">
              <section>
                <div class = "circleimg"><img src="http://i.imgur.com/H8TPhAn.png"></div>
                <div class="imgtxt"><h1>BUSTER BLUTH</h1></div>
                <div class="links">
                  <a href="https://twitter.com/danielleheckman">Twitter </a><a href="https://www.facebook.com/daniheckman">Facebook  </a><a href="http://instagram.com/daniheckman">Instagram</a></div>
                  <img src="http://i.imgur.com/cOTS7gq.png">
                  <h1>SIDEBAR SECTION HEADING</h1></section>
                  <article>If mother sees this, she will blow a cow. You want to have some guy reach
                    around you in the middle of the night, start messing with your junk? </article>
                  </div>
                </body>
                </html>
=======
<!-- insert content here -->
>>>>>>> 547e2b671968abc84d9086c155f866bf9374391f
