---
title: Surf & Paddle
---


<!DOCTYPE html>
<html>
  <head>
    <title> Surf & Paddle Co. Blog </title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Indie+Flower' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  </head>
  <body>

    <header>
      <div class="head">
        <!-- <img src="images/view.jpg"> -->
        <div class="my-wave-logo"><img src="images/wavelogo.png"></div>
        <div class="sp-blog-corner"> SURF & PADDLE CO. BLOG <div class="about-search" ABOUT SEARCH </li><img src="images/glass.png"></div></div>
        <h1 class="main-headline"> SURF & PADDLE CO. </h1>
        <div class="sub-line"><p> An Ironyard Academy Project Est. Summer 2014 </p> </div>
      </div>
    </header>


    <div class="container">
      <h2 class="fan-headline"> A FANTASTIC ENGAGING HEADLINE GOES HERE </h2>
        <img class="dolphin" src="images/dolphin.jpg">
        <div class="Annie"> <a href="www.science.com"> Annie Dolphin </a></div>
      <div class="date"> on Monday, June 7th 9:22pm </div>

      <p class="lorem-ipsum">  Now that we know who you are, I know who I am. I'm not a mistake!
        It all makes sense! In a comic, you know how you can tell who the arch-villain's
        going to be? He's the exact opposite of the hero. And most times they're friends,
        like you and me! I should've known way back when... You know why, David? Because of the kids.
        They called me Mr Glass.
        <p>

        <p class="lorem-ipsum">Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine.
        You don't get sick, I do. That's <a class="science" href="www.science.com"> also clear.</a>
      </p>



      <div class="pull-quote"> "THIS IS A PULL QUOTE FROM THE ARTICLE." </div>

      <p class="lorem-ipsum"> Well, the way they make shows is, they make one show. That show's called a pilot.
        Then they show that show to the people who make shows, and on the strength of that one show they decide
        if they're going to make more shows. <a href="www.science.com"> Some pilots </a> get picked and become television programs.
        Some don't, become nothing. She starred in one of the ones that became nothing.
      </p>

        <p class="lorem-ipsum">
        Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular
        gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it:
        the most popular gun in American crime. Like they're actually proud of that shit.
        </p>
    </div>

    <!-- <ul>
      <li> Read Comments </li
      <li> Read Later </li>
      <li> Share This Post </li>
    </ul>
    </div> -->


      <div class="container2">
        <img class="dolphin" src="images/dolphin.jpg">

        <div class="name"> ANNIE DOLPHIN </div>

        <div class="contacts">
          <p> Twitter Facebook Instagram </p>
        </div>

        <img class="kayak" src="images/kayak.jpg">
          <h6> About this Add </h6>

        <div>
          <h3 class="sidebar-head"> SIDEBAR SECTION HEADING </h3>

          <p> Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed
         on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical
         helicopter that shakes when you put quarters in it? No? Well, that's what you see at a <a class="science" href="www.science.com"> toy store. <a>
         And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
          </p>
        </div>
    </div>


    </body>
</html>
