---
title: Surf & Paddle 2
---

<!-- insert content here -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US"><meta charset="utf-8">
 <head>
   <link rel="stylesheet" type="text/css" href="stylesheets/all.css" title="style">
   <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" title="style">
 </head>
 <body>


<div class="middle">

  <div class="posts">
    <div class="blog_heading">
      <h1>A FANTASTIC ENGAGING HEADLINE GOES HERE</h1>
      <p class="peripheral-text">
        <i class="fa fa-user"></i>
        <span class="name">Anne Marrie</span> on Monday, Oct. 7th 9:22pm
      </p>
    </div>

    <div class="blog_content">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta <span class="underline">sunt explicabo.</span></p>
      <h4>WOAH, THAT'S RADICAL!</h4>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <div class="bottom_nav_bar">
        <ul>
          <li><i class="fa fa-comment"></i>Read Comments</li>
          <li><i class="fa fa-cloud-upload"></i>Read Later</li>
          <li><i class="fa fa-share-square"></i>Share This Post</li>
        </ul>
      </div>
    </div>


  </div>

  <div class="sidebar">

    <div class="profile">
      <i class="fa fa-user fa-5x"></i>
      <h3 class="name">ANNE MARRIE</h3>
      <p class="peripheral-text">TWITTER | FACEBOOK | INTSTAGRAM</p>
    </div>
    <div class="advertisment">
    </div>
    <div class="ad-about peripheral-text">
      <a>About this Ad</a>
    </div>
    <div class="sidebar-section peripheral-text">
      <h3>SIDEBAR SECTION HEADING</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
    </div>
  </div>

</div>
