---
title: Surf & Paddle
---

<!-- insert content here -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US"><meta charset="utf-8">
 <head>
   <link rel="stylesheet" type="text/css" href="stylesheets/all.css" title="style">
   <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
 </head>
 <body>

   <div class="top">
     <div class="content">
       <div class="company">
         <i class="fa fa-camera-retro fa-1x"></i>
          SURF & PADDLE CO. BLOG
       </div>
       <nav>
        <a>ABOUT</a>
        <a>SEARCH</a>
        <i class="fa fa-search"></i>
       </nav>

     </div>
     <div class="hero">
      <h1>SURF & PADDLE CO.</h1>
      <p>An Iron Yard Project est. Spring 2014</p>
    </div>
   </div>

   <div class="content">

     <div class="middle">

       <div class="center-middle">

          <h2>A FANTASTIC ENGAGING HEADLINE GOES HERE</h2>
          <div class="by_line">
            <i class="fa fa-user"></i>
            Anne Marrie on <span class="underline">Monday, Oct. 7th 9:22pm</span>
          </div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta <span class="underline">sunt explicabo.</span></p>
          <h4>WOAH, THAT'S RADICAL!</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <i class="fa fa-comment"></i>
          Read Comments
          <i class="fa fa-cloud-upload"></i>
          Read Later
          <i class="fa fa-share-square"></i>
          Share This Post
       </div>

       <div class="right-middle">

         <div class="profile">
           <i class="fa fa-user fa-5x"></i>
           <h3>ANNE MARRIE</h3>
           <p>TWITTER | FACEBOOK | INTSTAGRAM</p>
         </div>

         <div class="picture">
           <img src="http://placepuppy.it/230/250">
           <p>About this ad</p>
         </div>

         <div class="sidebar_bottom">
           <h3>SIDEBAR SECTION HEADING</h3>
           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
         </div>

       </div>

     </div>

    </div>

  <div class="bottom">
    <div class="popular-posts">
      <h1>MOST POPULAR POSTS</h1>
    </div>
    <div class="bottom-pictures">
      <% 4.times do %>
        <%= image_tag("http://placepuppy.it/278/278", :border => 0, :class => "pics") %>
      <% end %>
    </div>
    <div class="bottom-nav">
      <div class="iron_yard_holder">
        <%= link_to image_tag("http://john.do/wp-content/uploads/2013/12/the-iron-yard-logo.png", :class => "iron_yard"), "http://theironyard.com/" %>
      </div>
      <div class="copyright">
        <p>The Ironyard copyright 2014, All Rights Reserved</p>
      </div>
      <div class="nav-list">
        <ul>
          <li>Nav Item 1</li>
          <li>|</li>
          <li>Nav Item 2</li>
          <li>|</li>
          <li>Nav Item 3</li>
          <li>|</li>
          <li>Nav Item 5</li>
        </ul>
      </div>
    </div>
  </div>

 </body>
</html>
