
    <div class="ad-box">
      <div class="ad"><img src="http://www.lorempixel.com/208/168/city"></div>
      <a href="">About This Ad</a>
    </div>
    <div class="sidebar-section">
      <h4><%= lorem.sentence.upcase %></h4>
      <p><%= lorem.paragraphs 1 %></p>
    </div>
</div>